{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h3>CREATE A NEW WIKI ENTRY</h3>

    <style>
    h3 {
        margin-left: 0.5%;
    }

    #cancel-button {
        background-color: crimson;
        padding: 1px 6px;
        border: 1px outset buttonborder;
        border-radius: 6px;
        color: buttontext;
        text-decoration: none;
        float: right;
    }

    #submit-button {
        background-color:hsl(131.4, 58.5%, 26.5%);
        padding: 1px 6px;
        border: 1px outset buttonborder;
        border-radius: 6px;
        color: buttoncolor;
        text-decoration: none;
        float: right;
        margin-right: 1.6%;
        margin-left: 0.6%;
    }

    #title-field {
        width: 30%;
        margin-left: 0.5%;
        padding-left: 10px;
    }

    #content-label {
        display: block;
        margin-top: 10px;
    }

    #content-field {
        height: 88vh;
        width: 98%;
        padding-left: 10px;
        padding-top: 5px;
        margin-left: 0.5%;
        margin-top: 0.8%;
    }
    </style>


    <div id="editor">

        <form action="{% url 'create' %}" method="post">
            <input type="text" name="title" id="title-field", placeholder="Title">
            <input type="submit", id="submit-button", value="Create Entry">
            <a href="{% url 'index' %}" id="cancel-button">Cancel</a>
            <br>
            <textarea name="content" id="content-field", placeholder="Description"></textarea>
        </form>

    </div>
{% endblock %}