{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <style>
    h3 {
        margin-left: 0.5%;
    }

    #cancel-button {
        background-color: #24273a;
        padding: 2px 12px;
        border: transparent;
        border-radius: 6px;
        color: #cad3f5;
        text-decoration: none;
        float: right;
    }

    #cancel-button:hover {
        background-color: darkred;
    }

    #submit-button {
        background-color:hsl(131.4, 58.5%, 26.5%);
        padding: 2px 12px;
        border: transparent;
        border-radius: 6px;
        color: #cad3f5;
        text-decoration: none;
        float: right;
        margin-right: 1.6%;
        margin-left: 0.6%;
    }

    #submit-button:hover {
        background-color: darkgreen;
    }

    #title-field {
        width: 30%;
        margin-left: 0.5%;
        padding-left: 10px;
    }

    #content-label {
        display: block;
        margin-top: 10px;
    }

    #content-field {
        height: 88vh;
        width: 98%;
        padding-left: 10px;
        padding-top: 5px;
        margin-left: 0.5%;
        margin-top: 0.8%;
    }

    .custom-textbox {
        background-color: #363a4f;
        color: #b8c0e0;
        border-color: #24273a;
        border-radius: 3px;
    }

    .custom-textbox:focus {
        background-color: #24273a;
        color: #b8c0e0;
        border-color: #24273a;
        border-radius: 3px;
    }

    </style>

    <h3>EDIT AN EXISTING WIKI ENTRY</h3>

    <div id="editor">

        <form action="/edit/{{ title }}" method="POST">
          {% csrf_token %}
          <input type="text" name="title" id="title-field" class="custom-textbox" value="{{ title }}" placeholder="Title">
          <input type="submit" id="submit-button" value="Submit changes...">
          <a href="/wiki/{{ title }}" id="cancel-button">Cancel</a>
          <br>
          <textarea name="content" id="content-field" class="custom-textbox" placeholder="Description">{{ content }}</textarea>
        </form>

    </div>
{% endblock %}