{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="text-5xl font-bold text-sky-900 text-center">
        Listings
    </h2>

    <form method="GET" action="{% url 'index' %}" class="flex items-center space-x-4 mt-2 text-sm ml-6 justify-center">
        <div class="form-check flex items-center">
            <input
                class="form-check-input focus:ring-0"
                type="checkbox"
                value="1"
                id="flexCheckDefault"
                name="show_closed"
                {% if request.GET.show_closed == "1" %}checked{% endif %}>
            <label class="form-check-label ml-2" for="flexCheckDefault">
                Include closed listings
            </label>
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-0 focus:ring-blue-300 font-medium text-xs px-3 py-1 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Filter
        </button>
    </form>
</div>

<hr class="m-1.5 mb-3">

{% for listing in listings %}
<div class="listing border-gray-400 border rounded-lg shadow-md p-4 mb-4">
    <a href="{% url 'listing' listing.id %}">
        <h3>{{ listing.title }}</h3>
    </a>
    {% if listing.photo_url %}
    <img src="{{ listing.photo_url }}" class="w-28 h-auto">
    {% endif %}
    <p>{{ listing.description }}</p>
    <p>${{ listing.get_current_bid|floatformat:2 }}</p>
</div>
{% endfor %}


{% endblock %}